In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
from sqlalchemy import create_engine
from utils import db_connect

In [2]:
engine = db_connect()
main_df = pd.read_sql("SELECT * FROM combined_data", con=engine)

Connection successful

In [3]:
main_df.head()

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,MAGNET_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTFENROL,TOTMENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
0,-111.68205,33.3086670000001,2901,40088403264,2020-2021,AZ,400884,AZ-92327,ASU Preparatory Academy (92327),ASU Preparatory Academy-Polytechnic Middle School,6950 E WILLIAMS FIELD RD,NaN,NaN,MESA,AZ,85212,6033,(480)727-5700,Yes,M,Not Virtual,05,07,Middle,2-No,N,1,Regular school,Currently operational,11-City: Large,Maricopa County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110,119,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,347,347,NaN,-1,1,2,3,8,5,13,8,14,22,1,1,2,82,73,155,14,12,26,71,55,126,33.308667,-111.682045
1,-112.40877,33.4552610000001,2902,40088503410,2020-2021,AZ,400885,AZ-91326,Incito Schools (91326),Incito Schools,877 N SARIVAL AVE,NaN,NaN,GOODYEAR,AZ,85338,2316,(602)819-7170,Yes,M,Not Virtual,KG,08,Elementary,2-No,N,1,Regular school,Currently operational,22-Suburb: Mid-size,Maricopa County,NaN,NaN,NaN,NaN,NaN,34,35,37,40,40,31,24,25,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301,301,NaN,-1,4,1,5,1,0,1,16,14,30,0,0,0,62,63,125,7,5,12,55,73,128,33.455261,-112.408765
2,-111.88974,33.541458,2903,40088603407,2020-2021,AZ,400886,AZ-92314,Archway Classical Academy Cicero (92314),Great Hearts Academies - Archway Cicero,3102 N 56TH ST,NaN,NaN,PHOENIX,AZ,85018,6606,(480)424-1790,Yes,M,Not Virtual,KG,05,Elementary,1-Yes,2-No,1,Regular school,Currently operational,41-Rural: Fringe,Maricopa County,NaN,NaN,NaN,NaN,NaN,85,89,84,93,87,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,532,532,NaN,-1,5,2,7,11,18,29,3,3,6,0,2,2,31,51,82,19,17,36,180,190,370,33.541458,-111.889741
3,-112.08183,33.43949,2904,40088703415,2020-2021,AZ,400887,AZ-91948,Vista College Preparatory Inc. (91948),Vista College Preparatory,812 S 6TH AVE,NaN,NaN,PHOENIX,AZ,85003,2528,(602)374-7159,Yes,M,Not Virtual,KG,05,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,11-City: Large,Maricopa County,NaN,NaN,NaN,NaN,NaN,62,69,71,76,63,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,387,387,NaN,-1,2,0,2,1,0,1,33,34,67,0,0,0,154,145,299,2,3,5,7,6,13,33.43949,-112.081829
4,-112.15654,33.466285,2905,40088703561,2020-2021,AZ,400887,AZ-91948,Vista College Preparatory Inc. (91948),Vista College Prep - Maryvale,4520 W MCDOWELL RD,NaN,NaN,PHOENIX,AZ,85035,4109,(602)601-7069,Yes,M,Not Virtual,KG,05,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,11-City: Large,Maricopa County,NaN,NaN,NaN,NaN,NaN,72,77,67,75,53,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,394,394,NaN,-1,0,0,0,0,0,0,20,34,54,0,0,0,168,165,333,0,2,2,3,2,5,33.466285,-112.156535

In [4]:
main_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 504838 entries, 0 to 504837
Data columns (total 81 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   X                 504838 non-null  str
 1   Y                 504838 non-null  str
 2   OBJECTID          504838 non-null  str
 3   NCESSCH           504838 non-null  str
 4   SURVYEAR          504838 non-null  str
 5   STABR             504838 non-null  str
 6   LEAID             504838 non-null  str
 7   ST_LEAID          504838 non-null  str
 8   LEA_NAME          504838 non-null  str
 9   SCH_NAME          504838 non-null  str
 10  LSTREET1          504828 non-null  str
 11  LSTREET2          2906 non-null    str
 12  LSTREET3          10 non-null      str
 13  LCITY             504838 non-null  str
 14  LSTATE            504838 non-null  str
 15  LZIP              504838 non-null  str
 16  LZIP4             504838 non-null  str
 17  PHONE             504838 non-null  str
 18  CHARTER_TEXT      504838 non-null  str
 19  MAGNET_TEXT       403448 non-null  str
 20  VIRTUAL           504838 non-null  str
 21  GSLO              504838 non-null  str
 22  GSHI              504838 non-null  str
 23  SCHOOL_LEVEL      504838 non-null  str
 24  TITLEI            302719 non-null  str
 25  STITLEI           403448 non-null  str
 26  STATUS            504838 non-null  str
 27  SCHOOL_TYPE_TEXT  504838 non-null  str
 28  SY_STATUS_TEXT    504838 non-null  str
 29  ULOCALE           504838 non-null  str
 30  NMCNTY            504838 non-null  str
 31  TOTFRL            460760 non-null  str
 32  FRELCH            451815 non-null  str
 33  REDLCH            451800 non-null  str
 34  DIRECTCERT        146398 non-null  str
 35  PK                168038 non-null  str
 36  KG                274880 non-null  str
 37  G01               276823 non-null  str
 38  G02               277098 non-null  str
 39  G03               277029 non-null  str
 40  G04               276034 non-null  str
 41  G05               269901 non-null  str
 42  G06               196450 non-null  str
 43  G07               171857 non-null  str
 44  G08               173061 non-null  str
 45  G09               146699 non-null  str
 46  G10               145879 non-null  str
 47  G11               145864 non-null  str
 48  G12               145440 non-null  str
 49  G13               631 non-null     str
 50  UG                46374 non-null   str
 51  AE                761 non-null     str
 52  TOTFENROL         297406 non-null  str
 53  TOTMENROL         297410 non-null  str
 54  TOTAL             495931 non-null  str
 55  MEMBER            495931 non-null  str
 56  FTE               477277 non-null  str
 57  STUTERATIO        484139 non-null  str
 58  AMALM             386745 non-null  str
 59  AMALF             385679 non-null  str
 60  AM                412649 non-null  str
 61  ASALM             435468 non-null  str
 62  ASALF             435027 non-null  str
 63  AS                450182 non-null  str
 64  BLALM             458824 non-null  str
 65  BLALF             456170 non-null  str
 66  BL                469547 non-null  str
 67  HPALM             353571 non-null  str
 68  HPALF             351767 non-null  str
 69  HP                372372 non-null  str
 70  HIALM             484528 non-null  str
 71  HIALF             483526 non-null  str
 72  HI                488318 non-null  str
 73  TRALM             468296 non-null  str
 74  TRALF             467306 non-null  str
 75  TR                476750 non-null  str
 76  WHALM             486015 non-null  str
 77  WHALF             485072 non-null  str
 78  WH                488233 non-null  str
 79  LATCOD            504838 non-null  str
 80  LONCOD            504838 non-null  str
dtypes: str(81)
memory usage: 312.0 MB

In [5]:
main_df.shape

(504838, 81)

In [6]:
main_df.describe()

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,MAGNET_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTFENROL,TOTMENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
count,504838,504838,504838,504838,504838,504838,504838,504838,504838,504838,504828,2906,10,504838,504838,504838,504838,504838,504838,403448,504838,504838,504838,504838,302719,403448,504838,504838,504838,504838,504838,460760,451815,451800,146398,168038,274880,276823,277098,277029,276034,269901,196450,171857,173061,146699,145879,145864,145440,631,46374,761,297406,297410,495931,495931,477277,484139,386745,385679,412649,435468,435027,450182,458824,456170,469547,353571,351767,372372,484528,483526,488318,468296,467306,476750,486015,485072,488233,504838,504838
unique,307097,268376,101390,108437,5,57,19306,19562,21037,105382,107641,771,10,15079,56,22746,8796,102047,6,7,11,18,19,12,12,8,7,8,7,12,2007,2719,2521,620,1457,647,572,514,505,506,535,649,784,839,867,1245,1189,1152,1138,68,400,60,2019,2016,3965,3961,15492,5804,389,380,652,802,753,1324,936,957,1640,364,347,545,1486,1453,2625,311,318,511,1358,1332,2396,150769,153380
top,-97.6590209999999,30.61834,2901,40088403264,2022-2023,CA,7200030,PR-01,PUERTO RICO DEPARTMENT OF EDUCATION,Lincoln Elementary School,2405 FAIRVIEW SCHOOL RD,P. O. BOX 1497,Room 121,HOUSTON,CA,10456,,(480)461-4000,No,No,Not Virtual,PK,05,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,21-Suburb: Large,Los Angeles County,-1,-1,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.391031,-100.402958
freq,57,86,5,5,101390,51829,4526,4526,4526,339,119,38,1,3984,51837,235,206516,177,442499,282927,270573,160337,141465,265737,131600,160544,493245,367023,493245,133074,11263,28850,38076,66673,48879,24240,13420,12843,12603,12747,13366,14414,19943,20786,20957,25960,23719,22860,22767,126,11981,629,8130,8531,12578,12630,6899,12442,173415,176603,142408,113102,114705,92932,60767,66370,50490,229005,231298,206037,30505,33422,25105,57024,59626,46312,22827,25927,19355,129,129

In [7]:
# To avoid data type conversion errors, I had to force every data type in all of our five data sources to text.
# I was able to create a view from them called combined data, which can now be ingested into a dataframe without error
# columns will need to be updated to correct data types for further work.

## Convert start year to numeric and sort by school

In [8]:
# extract start Year - convert to int for sorting
main_df['year_start'] = main_df['SURVYEAR'].str[:4].astype(int)

In [9]:
# check to make sure conversion worked
main_df['year_start'].dtype

dtype('int64')

In [10]:
# sort by school and year
main_df = main_df.sort_values(['NCESSCH','year_start'])

In [11]:
# view one school's enrollment totals over time
main_df[main_df['NCESSCH'] == main_df['NCESSCH'].iloc[0]][
    ['NCESSCH','year_start','TOTAL']
]

             NCESSCH  year_start TOTAL
375193  100000400012        2017   971
256701  100000400012        2018   972
109811  100000400012        2020   965
140977  100000400012        2021   971
16820   100000400012        2022   968

## Convert all numeric columns

In [12]:
# To Do: once done inspecting turn the following to int as they dont matter for inspection and will be easier to work with as numeric types
# ObjectID: Internal GIS Identifier (int)
# GSLO  Lowest grade served (int)
# GSHI  Highest grade served (int)

In [13]:
# create list of numeric columns for conversion
numeric_cols = [
    
    # enrollment totals 
    'TOTAL','TOTMENROL','TOTFENROL','MEMBER',

    # socioeconomic
    'TOTFRL','FRELCH','REDLCH','DIRECTCERT',

    # grade levels
    'PK','KG','G01','G02','G03','G04','G05',
    'G06','G07','G08','G09','G10','G11','G12','G13',
    'UG','AE',

    # race totals
    'AM','AS','BL','HP','HI','TR','WH',

    # race gender splits
    'AMALM','AMALF',
    'ASALM','ASALF',
    'BLALM','BLALF',
    'HPALM','HPALF',
    'HIALM','HIALF',
    'TRALM','TRALF',
    'WHALM','WHALF',
]

In [14]:
# convert all numeric columns to numeric, coercing errors to NaN
main_df[numeric_cols] = main_df[numeric_cols].apply(
    pd.to_numeric, errors='coerce'
)

In [15]:
# confirm all numeric columns are now numeric
main_df[numeric_cols].dtypes.value_counts()

float64    46
Name: count, dtype: int64

## Now that we have everything to numeric, change -2 to NaN so we can do checks and balances

In [16]:
# what columns have -2 values, which is the code for "data not available" in our data dictionary
cols_with_neg2 = [
    col for col in numeric_cols
    if (main_df[col] == -2).any()
]

cols_with_neg2

['TOTMENROL', 'TOTFENROL', 'TOTFRL', 'FRELCH', 'REDLCH', 'DIRECTCERT']

In [17]:
# how many -2 values are in each column that has them?
for col in cols_with_neg2:
    print(col, (main_df[col] == -2).sum())

TOTMENROL 1197
TOTFENROL 1197
TOTFRL 4726
FRELCH 4732
REDLCH 4793
DIRECTCERT 1753

In [18]:
# replace placeholder -2 values with NaN for all numeric columns
main_df[numeric_cols] = main_df[numeric_cols].replace(-2, np.nan)

In [19]:
# verify that -2 values have been converted to NaN
for col in cols_with_neg2:
    print(col, (main_df[col] == -2).sum())

TOTMENROL 0
TOTFENROL 0
TOTFRL 0
FRELCH 0
REDLCH 0
DIRECTCERT 0

In [20]:
# now that -2 values have been replaced with NaN, we can check which columns have the most missing values
main_df[numeric_cols].isna().sum().sort_values(ascending=False).head(10)

G13           504207
AE            504077
UG            458464
DIRECTCERT    360193
G12           359398
G11           358974
G10           358959
G09           358139
PK            336800
G07           332981
dtype: int64

## Enrollment Core

    TOTMENROL + TOTFENROL  TOTAL

    MEMBER  TOTAL

In [21]:
# enrollment totals - WHY DO WE HAVE NEGATIVE ENROLLMENT NUMBERS? IS THIS A DATA ERROR OR IS THERE SOME EXPLANATION FOR THIS?
(main_df['TOTMENROL'] + main_df['TOTFENROL'] - main_df['TOTAL']).describe()

count    296086.000000
mean         -0.121931
std          16.363524
min       -5641.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           0.000000
dtype: float64

In [22]:
# make sure -2 values have been removed
(main_df[['TOTMENROL','TOTFENROL','TOTAL']] < 0).sum()

TOTMENROL    0
TOTFENROL    0
TOTAL        0
dtype: int64

In [23]:
# drop rows with NaN
enroll_check = main_df[['TOTMENROL','TOTFENROL','TOTAL']].dropna()

In [24]:
# compute difference
diff = enroll_check['TOTMENROL'] + enroll_check['TOTFENROL'] - enroll_check['TOTAL']

In [25]:
# show distribution of differences
diff.describe()

count    296086.000000
mean         -0.121931
std          16.363524
min       -5641.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           0.000000
dtype: float64

TOTMENROL + TOTFENROL is 5641 LESS than TOTAL

In [26]:
# average difference as a percentage of total enrollment
(diff != 0).sum()

np.int64(6561)

In [27]:
# what percentage of rows are below zero
(diff != 0).mean()

np.float64(0.022159102422944686)

# 2.2% rows do NOT reconcile
# Inspect errors

In [28]:
problem_rows = enroll_check.copy()
problem_rows['diff'] = diff

problem_rows = problem_rows[problem_rows['diff'] != 0]

problem_rows.sort_values('diff').head(10)

        TOTMENROL  TOTFENROL   TOTAL    diff
467152        1.0        3.0  5645.0 -5641.0
340316        1.0        1.0  5108.0 -5106.0
57320         0.0        0.0  4559.0 -4559.0
17180       190.0      261.0   740.0  -289.0
360032        0.0        0.0   242.0  -242.0
106293       20.0       21.0   278.0  -237.0
375127      150.0      121.0   495.0  -224.0
256516      172.0      254.0   648.0  -222.0
256634      153.0      169.0   524.0  -202.0
375001      171.0      160.0   515.0  -184.0

In [29]:
problem_rows[['TOTMENROL','TOTFENROL','TOTAL']].describe()

         TOTMENROL    TOTFENROL         TOTAL
count  6561.000000  6561.000000   6561.000000
mean    396.030331   417.103033    818.635879
std     363.257812   373.383109    739.589781
min       0.000000     0.000000      2.000000
25%     174.000000   182.000000    364.000000
50%     284.000000   302.000000    592.000000
75%     509.000000   539.000000   1052.000000
max    7431.000000  7776.000000  15223.000000

In [30]:
problem_rows[['TOTMENROL','TOTFENROL']].value_counts().head(10)

TOTMENROL  TOTFENROL
97.0       94.0         3
528.0      537.0        3
36.0       36.0         3
0.0        0.0          3
260.0      297.0        3
243.0      268.0        3
166.0      174.0        3
108.0      121.0        3
361.0      386.0        3
42.0       43.0         3
Name: count, dtype: int64

In [31]:
problem_rows['abs_diff'] = problem_rows['diff'].abs()

In [32]:
problem_rows['abs_diff'].describe()

count    6561.000000
mean        5.502515
std       109.799517
min         1.000000
25%         1.000000
50%         1.000000
75%         3.000000
max      5641.000000
Name: abs_diff, dtype: float64

In [33]:
(problem_rows['abs_diff'] > 100).sum()

np.int64(14)

## 14 rows are extreme outliers, we can

    - Ignore
    - Flag them
    - Drop them

In [34]:
# start fresh from problem_rows (which already has diff + abs_diff)
extreme_rows = problem_rows[problem_rows['abs_diff'] > 100].copy()

extreme_rows

        TOTMENROL  TOTFENROL   TOTAL    diff  abs_diff
375127      150.0      121.0   495.0  -224.0     224.0
256634      153.0      169.0   524.0  -202.0     202.0
17179       161.0      126.0   442.0  -155.0     155.0
375001      171.0      160.0   515.0  -184.0     184.0
256516      172.0      254.0   648.0  -222.0     222.0
17180       190.0      261.0   740.0  -289.0     289.0
400608        0.0        0.0   108.0  -108.0     108.0
467152        1.0        3.0  5645.0 -5641.0    5641.0
340316        1.0        1.0  5108.0 -5106.0    5106.0
57320         0.0        0.0  4559.0 -4559.0    4559.0
481164        2.0        2.0   105.0  -101.0     101.0
360032        0.0        0.0   242.0  -242.0     242.0
103518       73.0       71.0   326.0  -182.0     182.0
106293       20.0       21.0   278.0  -237.0     237.0

In [35]:
# add identifiers from main_df
extreme_rows[['NCESSCH','year_start']] = main_df.loc[extreme_rows.index, ['NCESSCH','year_start']]

In [36]:
# now sort
extreme_rows.sort_values('abs_diff', ascending=False)[
    ['NCESSCH','year_start','TOTMENROL','TOTFENROL','TOTAL','diff','abs_diff']
]

,NCESSCH,year_start,TOTMENROL,TOTFENROL,TOTAL,diff,abs_diff
467152,320006000795,2017,1.0,3.0,5645.0,-5641.0,5641.0
340316,320006000795,2018,1.0,1.0,5108.0,-5106.0,5106.0
57320,320006000795,2022,0.0,0.0,4559.0,-4559.0,4559.0
17180,110003000264,2022,190.0,261.0,740.0,-289.0,289.0
360032,40021702010,2017,0.0,0.0,242.0,-242.0,242.0
106293,530969002244,2022,20.0,21.0,278.0,-237.0,237.0
375127,110003000207,2017,150.0,121.0,495.0,-224.0,224.0
256516,110003000264,2018,172.0,254.0,648.0,-222.0,222.0
256634,110003000207,2018,153.0,169.0,524.0,-202.0,202.0
375001,110003000264,2017,171.0,160.0,515.0,-184.0,184.0
103518,530031303403,2022,73.0,71.0,326.0,-182.0,182.0
17179,110003000207,2022,161.0,126.0,442.0,-155.0,155.0
400608,250597000854,2017,0.0,0.0,108.0,-108.0,108.0
481164,320036000862,2017,2.0,2.0,105.0,-101.0,101.0

## Grade Totals

    Sum of grade_cols  TOTAL

In [37]:
# grade totals vs total enrollment
grade_cols = [
    'PK','KG','G01','G02','G03','G04','G05',
    'G06','G07','G08','G09','G10','G11','G12','G13',
    'UG','AE'
]

(main_df[grade_cols].sum(axis=1) - main_df['TOTAL']).describe()

count    495931.000000
mean         -0.006912
std           2.430306
min       -1263.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           0.000000
dtype: float64

In [38]:
# how many are zero and below zero
(main_df[grade_cols].sum(axis=1) - main_df['TOTAL']).value_counts().head(20)

 0.0       495884
-1.0           33
-2.0            5
-6.0            2
-3.0            2
-377.0          1
-220.0          1
-691.0          1
-816.0          1
-1263.0         1
Name: count, dtype: int64

In [39]:
# how many rows are below zero
diff = main_df[grade_cols].sum(axis=1) - main_df['TOTAL']
(diff != 0).sum()

np.int64(8954)

In [40]:
# check percentage of how many rows are below zero
(diff != 0).mean()

np.float64(0.01773638276041027)

In [41]:
# storing: how many are zero and below zero
main_df['grade_total_diff'] = (
    main_df[grade_cols].sum(axis=1) - main_df['TOTAL']
)

In [42]:
# create a df of rows that grade totals do not match total enrollment
problem_rows = main_df[main_df['grade_total_diff'] != 0]
problem_rows.shape

(8954, 83)

In [43]:
# sort mismatched rows by severity
problem_rows.sort_values('grade_total_diff').head(10)

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,MAGNET_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTFENROL,TOTMENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD,year_start,grade_total_diff
491302,-113.07,37.6629950000001,90785,490039000872,2020-2021,UT,4900390,UT-13,Iron District,Southwest Educational Academy,510 W 800 S,NaN,NaN,CEDAR CITY,UT,84720,,(435)586-2870,No,M,M,KG,12,Other,M,M,1,Alternative Education School,Currently operational,33-Town: Remote,Iron County,340.0,315.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0,73.0,71.0,83.0,NaN,NaN,NaN,NaN,NaN,1576.0,1576.0,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.662995,-113.070001,2020,-1263.0
491277,-111.82896,40.667877,90718,490036000249,2020-2021,UT,4900360,UT-12,Granite District,Olympus Jr High,2217 E 4800 S,NaN,NaN,SALT LAKE CITY,UT,84117,,(385)646-5224,No,M,M,07,09,Middle,M,M,1,Regular school,Currently operational,21-Suburb: Large,Salt Lake County,111.0,103.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,816.0,816.0,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.667877,-111.82896,2020,-816.0
498228,-111.83352,40.697572,90695,490036000216,2020-2021,UT,4900360,UT-12,Granite District,Evergreen Jr High,3401 S 2000 E,NaN,NaN,SALT LAKE CITY,UT,84109,,(385)646-5164,No,M,M,07,09,Middle,M,M,1,Regular school,Currently operational,21-Suburb: Large,Salt Lake County,244.0,204.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691.0,691.0,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.697572,-111.833516,2020,-691.0
128210,-85.5071,30.9725,21484,120096001078,2020-2021,FL,1200960,FL-32,JACKSON,GRACEVILLE SCHOOL,5539 BROWN ST,NaN,NaN,GRACEVILLE,FL,32440,1009,(850)263-4451,No,No,Not Virtual,PK,12,Other,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Jackson County,332.0,325.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,26.0,33.0,44.0,NaN,NaN,NaN,NaN,NaN,521.0,521.0,35.6699981689453,14.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.9725,-85.5071,2020,-377.0
490646,-100.71852,31.6679100000001,89846,484471005090,2020-2021,TX,4844710,TX-226905,WATER VALLEY ISD,WATER VALLEY SCHOOL,17886 WILDCAT DR,NaN,NaN,WATER VALLEY,TX,76958,9998,(325)484-2478,No,No,M,PK,12,Other,1-Yes,1-Yes,1,Regular school,Currently operational,42-Rural: Distant,Tom Green County,141.0,104.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,22.0,29.0,12.0,NaN,NaN,NaN,NaN,NaN,302.0,302.0,31.2700004577637,9.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.66791,-100.718524,2020,-220.0
460534,-87.811724000364,42.6998309997672,83670,551236001633,2017-2018,WI,5512360,WI-4620,Racine Unified School District,Mitchell Middle,2701 Drexel Ave,NaN,NaN,Racine,WI,53403,2998,(262)664-6400,No,No,Not a virtual school,06,08,Middle,NaN,Yes,1,Regular school,Currently operational,13-City: Small,Racine County,387.0,349.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181.0,200.0,195.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290.0,286.0,582.0,582.0,52.4700012207031,11.09,1.0,NaN,1.0,2.0,NaN,2.0,91.0,87.0,178.0,NaN,NaN,NaN,98.0,105.0,203.0,15.0,13.0,28.0,79.0,85.0,164.0,42.699831,-87.811724,2017,-6.0
333746,-89.074096680104,43.1633300780377,81546,550879001012,2018-2019,WI,5508790,WI-3332,Marshall School District,Marshall Elementary,617 Madison St,NaN,NaN,Marshall,WI,53559,9273,(608)655-4403,No,No,Supplemental Virtual,03,06,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,31-Town: Fringe,Dane County,117.0,100.0,17.0,NaN,NaN,NaN,NaN,NaN,59.0,70.0,76.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141.0,138.0,285.0,285.0,23.2299995422363,12.3,2.0,3.0,5.0,2.0,1.0,3.0,8.0,4.0,12.0,NaN,NaN,NaN,32.0,28.0,60.0,7.0,8.0,15.0,90.0,94.0,184.0,43.163271,-89.074154,2018,-6.0
460541,-87.8126809998907,42.7463539997161,83677,551236001642,2017-2018,WI,5512360,WI-4620,Racine Unified School District,Wadewitz Elementary,2700 Yout St,NaN,NaN,Racine,WI,53404,2296,(262)664-6000,No,No,Not a virtual school,PK,05,Elementary,NaN,Yes,1,Regular school,Currently operational,13-City: Small,Racine County,452.0,407.0,45.0,NaN,45.0,88.0,79.0,91.0,87.0,98.0,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287.0,308.0,598.0,598.0,48.7999992370605,12.25,2.0,1.0,3.0,NaN,NaN,NaN,80.0,84.0,164.0,2.0,NaN,2.0,128.0,126.0,254.0,30.0,19.0,49.0,66.0,57.0,123.0,42.746354,-87.812681,2017,-3.0
460521,-87.8084889999392,42.7413770001978,83657,551236001616,2017-2018,WI,5512360,WI-4620,Racine Unified School District,Gilmore Middle,2330 Northwestern Ave,NaN,NaN,Racine,WI,53404,2521,(262)619-4260,No,No,Not a virtual school,06,08,Middle,NaN,Yes,1,Regular school,Currently operational,13-City: Small,Racine County,410.0,382.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162.0,177.0,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,252.0,260.0,515.0,515.0,45.5999984741211,11.29,2.0,1.0,3.0,1.0,NaN,1.0,93.0,82.0,175.0,NaN,NaN,NaN,107.0,105.0,212.0,16.0,11.0,27.0,41.0,53.0,94.0,42.741377,-87.808489,2017,-3.0
108670,-87.9147,43.0241000010001,98891,550960001218,2022-2023,WI,5509600,WI-3619,Milwaukee School District,Bradley Technology High,700 S Fourth St,NaN,NaN,Milwaukee,WI,53204,1760,(414)212-2400,No,NaN,Supplemental Virtual,09,12,High,NaN,NaN,1,Regular School,Currently operational,11-City: Large,Milwaukee County,820.0,820.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.0,269.0,173.0,177.0,NaN,NaN,NaN,580.0,369.0,951.0,951.0,55.0999984741211,17.26,5.0,0.0,5.0,26.0,17.0,43.0,399.0,276.0,675.0,1.0,0.0,1.0,104.0,56.0,160.0,21.0,12.0,33.0,24.0,8.0,32.0,43.0241,-87.9147,2022,-2.0

In [44]:
# view the most severe mismatch
problem_rows.sort_values('grade_total_diff').iloc[0]

X                            -113.07
Y                   37.6629950000001
OBJECTID                       90785
NCESSCH                 490039000872
SURVYEAR                   2020-2021
                          ...
WH                               NaN
LATCOD                     37.662995
LONCOD                   -113.070001
year_start                      2020
grade_total_diff             -1263.0
Name: 491302, Length: 83, dtype: object

In [45]:
# view the most severe mismatch
problem_rows.sort_values('grade_total_diff').iloc[0][
    ['TOTAL'] + grade_cols
]

TOTAL    1576.0
PK          NaN
KG          NaN
G01         NaN
G02         NaN
G03         NaN
G04         NaN
G05         NaN
G06         NaN
G07         NaN
G08         NaN
G09        86.0
G10        73.0
G11        71.0
G12        83.0
G13         NaN
UG          NaN
AE          NaN
Name: 491302, dtype: object

## Race totals

    Male + Female = Race total

    Sum of race totals  TOTAL