In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
from sqlalchemy import create_engine
from utils import db_connect

In [2]:
engine = db_connect()
main_df = pd.read_sql("SELECT * FROM combined_data", con=engine)

Connection successful

In [3]:
main_df.head()

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,MAGNET_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTFENROL,TOTMENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
0,-86.2062,34.2602000000001,1,10000500870,2020-2021,AL,100005,AL-101,Albertville City,Albertville Middle School,600 E Alabama Ave,NaN,NaN,Albertville,AL,35950,,(256)878-2341,No,No,Not Virtual,07,08,Middle,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,332,332,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,469,439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,908,908,42,21.62,1,1,2,0,4,4,18,15,33,0,0,0,239,230,469,19,10,29,187,184,371,34.2602,-86.2062
1,-86.2049,34.2622000000001,2,10000500871,2020-2021,AL,100005,AL-101,Albertville City,Albertville High School,402 E McCord Ave,NaN,NaN,Albertville,AL,35950,2322,(256)894-5000,No,No,Not Virtual,09,12,High,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,456,456,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,421,427,384,374,NaN,NaN,NaN,NaN,NaN,1606,1606,82,19.59,1,0,1,4,2,6,33,37,70,0,0,0,414,371,785,17,21,38,368,338,706,34.2622,-86.2049
2,-86.2200999999999,34.2733000000001,3,10000500879,2020-2021,AL,100005,AL-101,Albertville City,Albertville Intermediate School,901 W McKinney Ave,NaN,NaN,Albertville,AL,35950,1300,(256)878-7698,No,No,Not Virtual,05,06,Middle,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,330,330,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,439,452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,891,891,41,21.73,3,1,4,4,3,7,12,12,24,0,1,1,228,253,481,17,12,29,177,168,345,34.2733,-86.2201
3,-86.221806,34.2527000000001,4,10000500889,2020-2021,AL,100005,AL-101,Albertville City,Albertville Elementary School,145 West End Drive,NaN,NaN,Albertville,AL,35950,,(256)894-4822,No,No,Not Virtual,03,04,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,397,397,0,NaN,NaN,NaN,NaN,NaN,435,473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,908,908,49,18.53,2,2,4,4,0,4,22,26,48,0,0,0,260,237,497,7,8,15,180,160,340,34.2527,-86.221806
4,-86.1933,34.2898000000001,5,10000501616,2020-2021,AL,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,257 Country Club Rd,NaN,NaN,Albertville,AL,35951,3927,(256)878-7922,No,No,Not Virtual,PK,KG,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,181,181,0,NaN,113,443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,556,556,30,18.53,3,1,4,2,0,2,16,17,33,0,0,0,151,137,288,6,7,13,108,108,216,34.2898,-86.1933

In [4]:
main_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 504838 entries, 0 to 504837
Data columns (total 81 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   X                 504838 non-null  str
 1   Y                 504838 non-null  str
 2   OBJECTID          504838 non-null  str
 3   NCESSCH           504838 non-null  str
 4   SURVYEAR          504838 non-null  str
 5   STABR             504838 non-null  str
 6   LEAID             504838 non-null  str
 7   ST_LEAID          504838 non-null  str
 8   LEA_NAME          504838 non-null  str
 9   SCH_NAME          504838 non-null  str
 10  LSTREET1          504828 non-null  str
 11  LSTREET2          2906 non-null    str
 12  LSTREET3          10 non-null      str
 13  LCITY             504838 non-null  str
 14  LSTATE            504838 non-null  str
 15  LZIP              504838 non-null  str
 16  LZIP4             504838 non-null  str
 17  PHONE             504838 non-null  str
 18  CHARTER_TEXT      504838 non-null  str
 19  MAGNET_TEXT       403448 non-null  str
 20  VIRTUAL           504838 non-null  str
 21  GSLO              504838 non-null  str
 22  GSHI              504838 non-null  str
 23  SCHOOL_LEVEL      504838 non-null  str
 24  TITLEI            302719 non-null  str
 25  STITLEI           403448 non-null  str
 26  STATUS            504838 non-null  str
 27  SCHOOL_TYPE_TEXT  504838 non-null  str
 28  SY_STATUS_TEXT    504838 non-null  str
 29  ULOCALE           504838 non-null  str
 30  NMCNTY            504838 non-null  str
 31  TOTFRL            460760 non-null  str
 32  FRELCH            451815 non-null  str
 33  REDLCH            451800 non-null  str
 34  DIRECTCERT        146398 non-null  str
 35  PK                168038 non-null  str
 36  KG                274880 non-null  str
 37  G01               276823 non-null  str
 38  G02               277098 non-null  str
 39  G03               277029 non-null  str
 40  G04               276034 non-null  str
 41  G05               269901 non-null  str
 42  G06               196450 non-null  str
 43  G07               171857 non-null  str
 44  G08               173061 non-null  str
 45  G09               146699 non-null  str
 46  G10               145879 non-null  str
 47  G11               145864 non-null  str
 48  G12               145440 non-null  str
 49  G13               631 non-null     str
 50  UG                46374 non-null   str
 51  AE                761 non-null     str
 52  TOTFENROL         297406 non-null  str
 53  TOTMENROL         297410 non-null  str
 54  TOTAL             495931 non-null  str
 55  MEMBER            495931 non-null  str
 56  FTE               477277 non-null  str
 57  STUTERATIO        484139 non-null  str
 58  AMALM             386745 non-null  str
 59  AMALF             385679 non-null  str
 60  AM                412649 non-null  str
 61  ASALM             435468 non-null  str
 62  ASALF             435027 non-null  str
 63  AS                450182 non-null  str
 64  BLALM             458824 non-null  str
 65  BLALF             456170 non-null  str
 66  BL                469547 non-null  str
 67  HPALM             353571 non-null  str
 68  HPALF             351767 non-null  str
 69  HP                372372 non-null  str
 70  HIALM             484528 non-null  str
 71  HIALF             483526 non-null  str
 72  HI                488318 non-null  str
 73  TRALM             468296 non-null  str
 74  TRALF             467306 non-null  str
 75  TR                476750 non-null  str
 76  WHALM             486015 non-null  str
 77  WHALF             485072 non-null  str
 78  WH                488233 non-null  str
 79  LATCOD            504838 non-null  str
 80  LONCOD            504838 non-null  str
dtypes: str(81)
memory usage: 312.0 MB

In [5]:
main_df.shape

(504838, 81)

In [6]:
main_df.describe()

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,MAGNET_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTFENROL,TOTMENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
count,504838,504838,504838,504838,504838,504838,504838,504838,504838,504838,504828,2906,10,504838,504838,504838,504838,504838,504838,403448,504838,504838,504838,504838,302719,403448,504838,504838,504838,504838,504838,460760,451815,451800,146398,168038,274880,276823,277098,277029,276034,269901,196450,171857,173061,146699,145879,145864,145440,631,46374,761,297406,297410,495931,495931,477277,484139,386745,385679,412649,435468,435027,450182,458824,456170,469547,353571,351767,372372,484528,483526,488318,468296,467306,476750,486015,485072,488233,504838,504838
unique,307097,268376,101390,108437,5,57,19306,19562,21037,105382,107641,771,10,15079,56,22746,8796,102047,6,7,11,18,19,12,12,8,7,8,7,12,2007,2719,2521,620,1457,647,572,514,505,506,535,649,784,839,867,1245,1189,1152,1138,68,400,60,2019,2016,3965,3961,15492,5804,389,380,652,802,753,1324,936,957,1640,364,347,545,1486,1453,2625,311,318,511,1358,1332,2396,150769,153380
top,-97.6590209999999,30.61834,1,10000500870,2022-2023,CA,7200030,PR-01,PUERTO RICO DEPARTMENT OF EDUCATION,Lincoln Elementary School,2405 FAIRVIEW SCHOOL RD,P. O. BOX 1497,Room 121,HOUSTON,CA,10456,,(480)461-4000,No,No,Not Virtual,PK,05,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,21-Suburb: Large,Los Angeles County,-1,-1,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.391031,-100.402958
freq,57,86,5,5,101390,51829,4526,4526,4526,339,119,38,1,3984,51837,235,206516,177,442499,282927,270573,160337,141465,265737,131600,160544,493245,367023,493245,133074,11263,28850,38076,66673,48879,24240,13420,12843,12603,12747,13366,14414,19943,20786,20957,25960,23719,22860,22767,126,11981,629,8130,8531,12578,12630,6899,12442,173415,176603,142408,113102,114705,92932,60767,66370,50490,229005,231298,206037,30505,33422,25105,57024,59626,46312,22827,25927,19355,129,129

In [7]:
# To avoid data type conversion errors, I had to force every data type in all of our five data sources to text.
# I was able to create a view from them called combined data, which can now be ingested into a dataframe without error
# columns will need to be updated to correct data types for further work.

## Convert start year to numeric and sort by school

In [8]:
# extract start Year - convert to int for sorting
main_df['year_start'] = main_df['SURVYEAR'].str[:4].astype(int)

In [9]:
# check to make sure conversion worked
main_df['year_start'].dtype

dtype('int64')

In [10]:
# sort by school and year
main_df = main_df.sort_values(['NCESSCH','year_start'])

In [11]:
# view one school's enrollment totals over time
main_df[main_df['NCESSCH'] == main_df['NCESSCH'].iloc[0]][
    ['NCESSCH','year_start','TOTAL']
]

             NCESSCH  year_start TOTAL
386558  100000400012        2017   971
261788  100000400012        2018   972
125352  100000400012        2020   965
142277  100000400012        2021   971
22379   100000400012        2022   968

## Convert all numeric columns

In [ ]:
# create list of numeric columns for conversion
numeric_cols = [
    # geographic
    'X','Y','LATCOD','LONCOD',

    # enrollment totals
    'TOTAL','TOTMENROL','TOTFENROL','MEMBER',

    # staffing
    'FTE','STUTERATIO',

    # socioeconomic
    'TOTFRL','FRELCH','REDLCH','DIRECTCERT',

    # grade levels
    'PK','KG','G01','G02','G03','G04','G05',
    'G06','G07','G08','G09','G10','G11','G12','G13',
    'UG','AE',

    # race totals
    'AM','AS','BL','HP','HI','TR','WH',

    # race gender splits
    'AMALM','AMALF',
    'ASALM','ASALF',
    'BLALM','BLALF',
    'HPALM','HPALF',
    'HIALM','HIALF',
    'TRALM','TRALF',
    'WHALM','WHALF',

    # lowest/highest grade level the school serves
    'GSLO','GSHI'
]

In [13]:
# convert all numeric columns to numeric, coercing errors to NaN
main_df[numeric_cols] = main_df[numeric_cols].apply(
    pd.to_numeric, errors='coerce'
)

In [14]:
# confirm all numeric columns are now numeric
main_df[numeric_cols].dtypes.value_counts()

float64    54
Name: count, dtype: int64

In [19]:
# NaN for all numberic fields is 0, which means all non-numeric values were successfully converted to NaN, and there are no non-numeric values that were converted to 0.
main_df[numeric_cols].isna().sum().sort_values(ascending=True).head(15)

X                 0
Y                 0
LATCOD            0
LONCOD            0
TOTAL          8907
MEMBER         8907
HI            16520
WH            16605
WHALM         18823
GSHI          19472
WHALF         19766
HIALM         20310
STUTERATIO    20699
HIALF         21312
FTE           27561
dtype: int64

In [20]:
main_df[numeric_cols].isna().sum().sort_values(ascending=False).head(15)

G13           504207
AE            504077
UG            458464
G12           359398
G11           358974
G10           358959
DIRECTCERT    358440
G09           358139
PK            336800
G07           332981
G08           331777
G06           308388
GSLO          285460
G05           234937
KG            229958
dtype: int64

In [16]:
main_df[numeric_cols].describe()

,X,Y,LATCOD,LONCOD,TOTAL,TOTMENROL,TOTFENROL,MEMBER,FTE,STUTERATIO,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,AM,AS,BL,HP,HI,TR,WH,AMALM,AMALF,ASALM,ASALF,BLALM,BLALF,HPALM,HPALF,HIALM,HIALF,TRALM,TRALF,WHALM,WHALF,GSLO,GSHI
count,504838.000000,504838.000000,504838.000000,504838.000000,495931.000000,297410.000000,297406.000000,495931.000000,477277.000000,484139.000000,460760.000000,451815.000000,451800.000000,146398.000000,168038.000000,274880.000000,276823.000000,277098.000000,277029.000000,276034.000000,269901.000000,196450.000000,171857.000000,173061.000000,146699.000000,145879.000000,145864.000000,145440.000000,631.000000,46374.000000,761.000000,412649.000000,450182.000000,469547.000000,372372.000000,488318.000000,476750.000000,488233.000000,386745.000000,385679.000000,435468.000000,435027.000000,458824.000000,456170.000000,353571.000000,351767.000000,484528.000000,483526.000000,468296.000000,467306.000000,486015.000000,485072.000000,219378.000000,485366.000000
mean,-93.004485,37.825462,37.825452,-93.004491,504.180227,251.114347,255.499328,504.118888,32.765466,15.670367,256.656294,228.608061,24.405673,120.561886,36.967728,65.183593,64.966556,64.924969,65.944331,66.884540,69.320340,96.030364,110.750420,110.904773,139.190874,133.779900,126.852767,125.771789,14.589540,13.553392,39.973719,6.087576,29.489253,79.500363,2.762036,143.752399,22.903755,233.929097,3.331929,3.204369,15.656294,14.860393,41.481248,40.121402,1.512980,1.429079,74.085246,70.942795,11.843366,11.507661,121.298960,113.921335,7.008200,7.685518
std,17.306888,5.753970,5.753970,17.306888,463.715187,228.711976,230.794616,463.528852,26.240478,53.291388,283.063925,261.676489,38.196080,182.883362,50.991234,45.887606,44.055852,43.792292,44.966130,46.983339,54.958037,107.080207,126.217989,128.332546,193.665870,184.729773,173.898905,170.188585,16.339002,36.401135,385.844306,28.248378,86.156973,149.278071,21.210403,241.161714,31.855511,271.051997,14.866406,14.414933,45.154712,42.597671,76.141752,75.502558,11.375052,10.483104,123.595857,119.022927,16.186136,16.244911,138.395064,133.635982,2.091484,3.059963
min,-176.640331,-14.348924,-14.348924,-176.640331,0.000000,-2.000000,-2.000000,0.000000,0.000000,-2.000000,-9.000000,-9.000000,-9.000000,-9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,-101.806900,33.951946,33.951946,-101.806909,235.000000,116.000000,118.000000,235.000000,17.100000,12.030000,69.000000,52.000000,0.000000,-1.000000,9.000000,36.000000,37.000000,36.000000,37.000000,36.000000,35.000000,20.000000,15.000000,14.000000,5.000000,7.000000,8.000000,10.000000,1.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,13.000000,4.000000,38.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,7.000000,6.000000,2.000000,2.000000,21.000000,18.000000,6.000000,5.000000
50%,-89.500304,38.749910,38.749937,-89.500302,417.000000,209.000000,213.000000,417.000000,27.799999,14.710000,185.000000,157.000000,13.000000,51.000000,26.000000,61.000000,62.000000,62.000000,63.000000,63.000000,63.000000,61.000000,62.000000,61.000000,56.000000,54.000000,53.000000,56.000000,8.000000,4.000000,0.000000,1.000000,5.000000,18.000000,0.000000,52.000000,14.000000,166.000000,1.000000,1.000000,3.000000,3.000000,10.000000,9.000000,0.000000,0.000000,27.000000,26.000000,7.000000,7.000000,87.000000,81.000000,7.000000,8.000000
75%,-81.230678,41.673052,41.673010,-81.230678,633.000000,318.000000,323.000000,633.000000,41.000000,17.700000,356.000000,322.000000,33.000000,180.000000,47.000000,88.000000,88.000000,88.000000,90.000000,91.000000,92.000000,129.000000,171.000000,172.000000,193.000000,183.000000,171.000000,171.000000,26.000000,13.000000,0.000000,3.000000,21.000000,89.000000,2.000000,176.000000,31.000000,334.000000,2.000000,2.000000,11.000000,11.000000,47.000000,45.000000,1.000000,1.000000,91.000000,87.000000,16.000000,16.000000,173.000000,162.000000,9.000000,12.000000
max,145.784430,71.300476,71.300337,145.784430,21049.000000,10377.000000,9978.000000,21049.000000,1700.069946,22350.000000,11366.000000,10925.000000,2045.000000,7991.000000,2163.000000,2441.000000,2333.000000,2393.000000,2347.000000,2363.000000,2454.000000,2467.000000,2574.000000,2595.000000,6251.000000,3368.000000,3454.000000,4054.000000,80.000000,1178.000000,5641.000000,1395.000000,3557.000000,5994.000000,1394.000000,10469.000000,3538.000000,14297.000000,743.000000,778.000000,2049.000000,1532.000000,2975.000000,3019.000000,751.000000,643.000000,5333.000000,5136.000000,1790.000000,1748.000000,6887.000000,7410.000000,12.000000,13.000000

In [17]:
# enrollment totals
(main_df['TOTMENROL'] + main_df['TOTFENROL'] - main_df['TOTAL']).describe()

count    296086.000000
mean         -0.121931
std          16.363524
min       -5641.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           0.000000
dtype: float64

In [18]:
# grade totals vs total enrollment
grade_cols = [
    'PK','KG','G01','G02','G03','G04','G05',
    'G06','G07','G08','G09','G10','G11','G12','G13',
    'UG','AE'
]

(main_df[grade_cols].sum(axis=1) - main_df['TOTAL']).describe()

count    495931.000000
mean         -0.006912
std           2.430306
min       -1263.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           0.000000
dtype: float64