In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
from sqlalchemy import create_engine
from utils import db_connect

## Load Dataset and Inspect

In [2]:
engine = db_connect()
main_df = pd.read_sql("SELECT * FROM combined_data", con=engine)

Connection successful

In [3]:
main_df.head()

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,MAGNET_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTFENROL,TOTMENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
0,-111.68205,33.3086670000001,2901,40088403264,2020-2021,AZ,400884,AZ-92327,ASU Preparatory Academy (92327),ASU Preparatory Academy-Polytechnic Middle School,6950 E WILLIAMS FIELD RD,NaN,NaN,MESA,AZ,85212,6033,(480)727-5700,Yes,M,Not Virtual,05,07,Middle,2-No,N,1,Regular school,Currently operational,11-City: Large,Maricopa County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110,119,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,347,347,NaN,-1,1,2,3,8,5,13,8,14,22,1,1,2,82,73,155,14,12,26,71,55,126,33.308667,-111.682045
1,-112.40877,33.4552610000001,2902,40088503410,2020-2021,AZ,400885,AZ-91326,Incito Schools (91326),Incito Schools,877 N SARIVAL AVE,NaN,NaN,GOODYEAR,AZ,85338,2316,(602)819-7170,Yes,M,Not Virtual,KG,08,Elementary,2-No,N,1,Regular school,Currently operational,22-Suburb: Mid-size,Maricopa County,NaN,NaN,NaN,NaN,NaN,34,35,37,40,40,31,24,25,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301,301,NaN,-1,4,1,5,1,0,1,16,14,30,0,0,0,62,63,125,7,5,12,55,73,128,33.455261,-112.408765
2,-111.88974,33.541458,2903,40088603407,2020-2021,AZ,400886,AZ-92314,Archway Classical Academy Cicero (92314),Great Hearts Academies - Archway Cicero,3102 N 56TH ST,NaN,NaN,PHOENIX,AZ,85018,6606,(480)424-1790,Yes,M,Not Virtual,KG,05,Elementary,1-Yes,2-No,1,Regular school,Currently operational,41-Rural: Fringe,Maricopa County,NaN,NaN,NaN,NaN,NaN,85,89,84,93,87,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,532,532,NaN,-1,5,2,7,11,18,29,3,3,6,0,2,2,31,51,82,19,17,36,180,190,370,33.541458,-111.889741
3,-112.08183,33.43949,2904,40088703415,2020-2021,AZ,400887,AZ-91948,Vista College Preparatory Inc. (91948),Vista College Preparatory,812 S 6TH AVE,NaN,NaN,PHOENIX,AZ,85003,2528,(602)374-7159,Yes,M,Not Virtual,KG,05,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,11-City: Large,Maricopa County,NaN,NaN,NaN,NaN,NaN,62,69,71,76,63,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,387,387,NaN,-1,2,0,2,1,0,1,33,34,67,0,0,0,154,145,299,2,3,5,7,6,13,33.43949,-112.081829
4,-112.15654,33.466285,2905,40088703561,2020-2021,AZ,400887,AZ-91948,Vista College Preparatory Inc. (91948),Vista College Prep - Maryvale,4520 W MCDOWELL RD,NaN,NaN,PHOENIX,AZ,85035,4109,(602)601-7069,Yes,M,Not Virtual,KG,05,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,11-City: Large,Maricopa County,NaN,NaN,NaN,NaN,NaN,72,77,67,75,53,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,394,394,NaN,-1,0,0,0,0,0,0,20,34,54,0,0,0,168,165,333,0,2,2,3,2,5,33.466285,-112.156535

In [4]:
main_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 504838 entries, 0 to 504837
Data columns (total 81 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   X                 504838 non-null  str
 1   Y                 504838 non-null  str
 2   OBJECTID          504838 non-null  str
 3   NCESSCH           504838 non-null  str
 4   SURVYEAR          504838 non-null  str
 5   STABR             504838 non-null  str
 6   LEAID             504838 non-null  str
 7   ST_LEAID          504838 non-null  str
 8   LEA_NAME          504838 non-null  str
 9   SCH_NAME          504838 non-null  str
 10  LSTREET1          504828 non-null  str
 11  LSTREET2          2906 non-null    str
 12  LSTREET3          10 non-null      str
 13  LCITY             504838 non-null  str
 14  LSTATE            504838 non-null  str
 15  LZIP              504838 non-null  str
 16  LZIP4             504838 non-null  str
 17  PHONE             504838 non-null  str
 18  CHARTER_TEXT      504838 non-null  str
 19  MAGNET_TEXT       403448 non-null  str
 20  VIRTUAL           504838 non-null  str
 21  GSLO              504838 non-null  str
 22  GSHI              504838 non-null  str
 23  SCHOOL_LEVEL      504838 non-null  str
 24  TITLEI            302719 non-null  str
 25  STITLEI           403448 non-null  str
 26  STATUS            504838 non-null  str
 27  SCHOOL_TYPE_TEXT  504838 non-null  str
 28  SY_STATUS_TEXT    504838 non-null  str
 29  ULOCALE           504838 non-null  str
 30  NMCNTY            504838 non-null  str
 31  TOTFRL            460760 non-null  str
 32  FRELCH            451815 non-null  str
 33  REDLCH            451800 non-null  str
 34  DIRECTCERT        146398 non-null  str
 35  PK                168038 non-null  str
 36  KG                274880 non-null  str
 37  G01               276823 non-null  str
 38  G02               277098 non-null  str
 39  G03               277029 non-null  str
 40  G04               276034 non-null  str
 41  G05               269901 non-null  str
 42  G06               196450 non-null  str
 43  G07               171857 non-null  str
 44  G08               173061 non-null  str
 45  G09               146699 non-null  str
 46  G10               145879 non-null  str
 47  G11               145864 non-null  str
 48  G12               145440 non-null  str
 49  G13               631 non-null     str
 50  UG                46374 non-null   str
 51  AE                761 non-null     str
 52  TOTFENROL         297406 non-null  str
 53  TOTMENROL         297410 non-null  str
 54  TOTAL             495931 non-null  str
 55  MEMBER            495931 non-null  str
 56  FTE               477277 non-null  str
 57  STUTERATIO        484139 non-null  str
 58  AMALM             386745 non-null  str
 59  AMALF             385679 non-null  str
 60  AM                412649 non-null  str
 61  ASALM             435468 non-null  str
 62  ASALF             435027 non-null  str
 63  AS                450182 non-null  str
 64  BLALM             458824 non-null  str
 65  BLALF             456170 non-null  str
 66  BL                469547 non-null  str
 67  HPALM             353571 non-null  str
 68  HPALF             351767 non-null  str
 69  HP                372372 non-null  str
 70  HIALM             484528 non-null  str
 71  HIALF             483526 non-null  str
 72  HI                488318 non-null  str
 73  TRALM             468296 non-null  str
 74  TRALF             467306 non-null  str
 75  TR                476750 non-null  str
 76  WHALM             486015 non-null  str
 77  WHALF             485072 non-null  str
 78  WH                488233 non-null  str
 79  LATCOD            504838 non-null  str
 80  LONCOD            504838 non-null  str
dtypes: str(81)
memory usage: 312.0 MB

In [5]:
print("Initial Shape:", main_df.shape)

Initial Shape: (504838, 81)

In [6]:
main_df.describe()

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,MAGNET_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTFENROL,TOTMENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
count,504838,504838,504838,504838,504838,504838,504838,504838,504838,504838,504828,2906,10,504838,504838,504838,504838,504838,504838,403448,504838,504838,504838,504838,302719,403448,504838,504838,504838,504838,504838,460760,451815,451800,146398,168038,274880,276823,277098,277029,276034,269901,196450,171857,173061,146699,145879,145864,145440,631,46374,761,297406,297410,495931,495931,477277,484139,386745,385679,412649,435468,435027,450182,458824,456170,469547,353571,351767,372372,484528,483526,488318,468296,467306,476750,486015,485072,488233,504838,504838
unique,307097,268376,101390,108437,5,57,19306,19562,21037,105382,107641,771,10,15079,56,22746,8796,102047,6,7,11,18,19,12,12,8,7,8,7,12,2007,2719,2521,620,1457,647,572,514,505,506,535,649,784,839,867,1245,1189,1152,1138,68,400,60,2019,2016,3965,3961,15492,5804,389,380,652,802,753,1324,936,957,1640,364,347,545,1486,1453,2625,311,318,511,1358,1332,2396,150769,153380
top,-97.6590209999999,30.61834,2901,40088403264,2022-2023,CA,7200030,PR-01,PUERTO RICO DEPARTMENT OF EDUCATION,Lincoln Elementary School,2405 FAIRVIEW SCHOOL RD,P. O. BOX 1497,Room 121,HOUSTON,CA,10456,,(480)461-4000,No,No,Not Virtual,PK,05,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,21-Suburb: Large,Los Angeles County,-1,-1,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,31.391031,-100.402958
freq,57,86,5,5,101390,51829,4526,4526,4526,339,119,38,1,3984,51837,235,206516,177,442499,282927,270573,160337,141465,265737,131600,160544,493245,367023,493245,133074,11263,28850,38076,66673,48879,24240,13420,12843,12603,12747,13366,14414,19943,20786,20957,25960,23719,22860,22767,126,11981,629,8130,8531,12578,12630,6899,12442,173415,176603,142408,113102,114705,92932,60767,66370,50490,229005,231298,206037,30505,33422,25105,57024,59626,46312,22827,25927,19355,129,129

Standardize Text Fields

In [7]:
# strip whitespace
for col in main_df.select_dtypes(include=["string"]).columns:
    main_df[col] = main_df[col].str.strip()

## Convert columns

In [8]:
# Change columns to floats
float_cols = ["X", "Y", "LATCOD", "LONCOD", "FTE", "STUTERATIO"]

# change columns to int
int_cols = [
    "OBJECTID", "GSLO", "GSHI",
    "TOTFRL", "FRELCH", "REDLCH", "DIRECTCERT",
    "PK", "KG", "G01", "G02", "G03", "G04", "G05", "G06",
    "G07", "G08", "G09", "G10", "G11", "G12", "G13",
    "UG", "AE",
    "TOTMENROL", "TOTFENROL", "TOTAL", "MEMBER",
    "AMALM", "AMALF", "AM",
    "ASALM", "ASALF", "AS",
    "BLALM", "BLALF", "BL",
    "HPALM", "HPALF", "HP",
    "HIALM", "HIALF", "HI",
    "TRALM", "TRALF", "TR",
    "WHALM", "WHALF", "WH"
]

# Change columns to strings
string_cols = [
    "NCESSCH", "SURVYEAR", "STABR", "LEAID", "ST_LEAID",
    "LEA_NAME", "SCH_NAME",
    "LSTREET1", "LSTREET2", "LCITY", "LSTATE",
    "LZIP", "LZIP4", "PHONE",
    "VIRTUAL", "SCHOOL_LEVEL", "SCHOOL_TYPE_TEXT",
    "STATUS", "SY_STATUS_TEXT", "ULOCALE", "NMCNTY",
    "CHARTER_TEXT", "LSTREET3", "TITLEI", "STITLEI", "MAGNET_TEXT"
]

## Function to handle NCES error codes

In [9]:
# function to clean NCES error codes
def clean_nces_error_codes(main_df, cols):
    error_values = [
    "M", "N", "-1", "-2", "-9",
    "Missing", "Not applicable", "Not Applicable",
    -1, -2, -9
]
    main_df[cols] = main_df[cols].replace(error_values, np.nan)
    return main_df

In [10]:
# clean ALL numeric columns (float + int)
numeric_cols = float_cols + int_cols
main_df = clean_nces_error_codes(main_df, numeric_cols)

## Convert Datatypes

In [11]:
# convert floats safely
for col in float_cols:
    main_df[col] = pd.to_numeric(main_df[col], errors="coerce")

In [12]:
# convert ints safely
for col in int_cols:
    main_df[col] = pd.to_numeric(main_df[col], errors="coerce").astype("Int64")

In [13]:
# convert strings
for col in string_cols:
    main_df[col] = main_df[col].astype("string")

Standardize Coordinates

In [14]:
# round coordinates
main_df["LATCOD"] = main_df["LATCOD"].round(4)
main_df["LONCOD"] = main_df["LONCOD"].round(4)

Inspect

In [15]:
# inspect missing values
main_df[int_cols].isna().sum().sort_values(ascending=False).head(10)

G13           504207
AE            504077
UG            458464
DIRECTCERT    409648
G12           359398
G11           358974
G10           358959
G09           358139
PK            336800
G07           332981
dtype: int64

In [16]:
# confirm types
main_df[int_cols].dtypes.value_counts()

Int64    49
Name: count, dtype: int64

## Convert start year to numeric and sort by school

In [ ]:
# extract start Year - convert to int for sorting
main_df['year_start'] = main_df['SURVYEAR'].str[:4].astype(int)

In [18]:
# check to make sure conversion worked
main_df['year_start'].dtype

dtype('int64')

In [19]:
# sort by school and year
main_df = main_df.sort_values(['NCESSCH','year_start'])

In [20]:
# view one school's enrollment totals over time
main_df[main_df['NCESSCH'] == main_df['NCESSCH'].iloc[0]][
    ['NCESSCH','year_start','TOTAL']
]

             NCESSCH  year_start  TOTAL
373031  100000400012        2017    971
254926  100000400012        2018    972
122768  100000400012        2020    965
139788  100000400012        2021    971
15719   100000400012        2022    968

## Enrollment Core

    TOTMENROL + TOTFENROL  TOTAL

    MEMBER  TOTAL

In [21]:
# enrollment totals - WHY DO WE HAVE NEGATIVE ENROLLMENT NUMBERS? IS THIS A DATA ERROR OR IS THERE SOME EXPLANATION FOR THIS?
(main_df['TOTMENROL'] + main_df['TOTFENROL'] - main_df['TOTAL']).describe()

count     296086.0
mean     -0.121931
std      16.363524
min        -5641.0
25%            0.0
50%            0.0
75%            0.0
max            0.0
dtype: Float64

In [22]:
# make sure -2 values have been removed
(main_df[['TOTMENROL','TOTFENROL','TOTAL']] < 0).sum()

TOTMENROL    0
TOTFENROL    0
TOTAL        0
dtype: Int64

In [23]:
# drop rows with NaN
enroll_check = main_df[['TOTMENROL','TOTFENROL','TOTAL']].dropna()

In [24]:
# compute difference
diff = enroll_check['TOTMENROL'] + enroll_check['TOTFENROL'] - enroll_check['TOTAL']

In [25]:
# show distribution of differences
diff.describe()

count     296086.0
mean     -0.121931
std      16.363524
min        -5641.0
25%            0.0
50%            0.0
75%            0.0
max            0.0
dtype: Float64

TOTMENROL + TOTFENROL is 5641 LESS than TOTAL

In [26]:
# average difference as a percentage of total enrollment
(diff != 0).sum()

np.int64(6561)

In [27]:
# what percentage of rows are below zero
(diff != 0).mean()

np.float64(0.022159102422944686)

# 2.2% rows do NOT reconcile
# Inspect errors

In [28]:
problem_rows = enroll_check.copy()
problem_rows['diff'] = diff

problem_rows = problem_rows[problem_rows['diff'] != 0]

problem_rows.sort_values('diff').head(10)

        TOTMENROL  TOTFENROL  TOTAL   diff
456665          1          3   5645  -5641
338892          1          1   5108  -5106
57450           0          0   4559  -4559
16115         190        261    740   -289
358347          0          0    242   -242
104554         20         21    278   -237
372935        150        121    495   -224
254741        172        254    648   -222
254859        153        169    524   -202
372812        171        160    515   -184

In [29]:
problem_rows[['TOTMENROL','TOTFENROL','TOTAL']].describe()

        TOTMENROL   TOTFENROL       TOTAL
count      6561.0      6561.0      6561.0
mean   396.030331  417.103033  818.635879
std    363.257812  373.383109  739.589781
min           0.0         0.0         2.0
25%         174.0       182.0       364.0
50%         284.0       302.0       592.0
75%         509.0       539.0      1052.0
max        7431.0      7776.0     15223.0

In [30]:
problem_rows[['TOTMENROL','TOTFENROL']].value_counts().head(10)

TOTMENROL  TOTFENROL
97         94           3
528        537          3
36         36           3
0          0            3
260        297          3
243        268          3
166        174          3
108        121          3
361        386          3
42         43           3
Name: count, dtype: int64

In [31]:
problem_rows['abs_diff'] = problem_rows['diff'].abs()

In [32]:
problem_rows['abs_diff'].describe()

count        6561.0
mean       5.502515
std      109.799517
min             1.0
25%             1.0
50%             1.0
75%             3.0
max          5641.0
Name: abs_diff, dtype: Float64

In [33]:
(problem_rows['abs_diff'] > 100).sum()

np.int64(14)

## 14 rows are extreme outliers, we can

    - Ignore
    - Flag them
    - Drop them

In [34]:
# start fresh from problem_rows (which already has diff + abs_diff)
extreme_rows = problem_rows[problem_rows['abs_diff'] > 100].copy()

extreme_rows

        TOTMENROL  TOTFENROL  TOTAL   diff  abs_diff
372935        150        121    495   -224       224
254859        153        169    524   -202       202
16114         161        126    442   -155       155
372812        171        160    515   -184       184
254741        172        254    648   -222       222
16115         190        261    740   -289       289
393238          0          0    108   -108       108
456665          1          3   5645  -5641      5641
338892          1          1   5108  -5106      5106
57450           0          0   4559  -4559      4559
469699          2          2    105   -101       101
358347          0          0    242   -242       242
101693         73         71    326   -182       182
104554         20         21    278   -237       237

In [35]:
# add identifiers from main_df
extreme_rows[['NCESSCH','year_start']] = main_df.loc[extreme_rows.index, ['NCESSCH','year_start']]

In [36]:
# now sort
extreme_rows.sort_values('abs_diff', ascending=False)[
    ['NCESSCH','year_start','TOTMENROL','TOTFENROL','TOTAL','diff','abs_diff']
]

             NCESSCH  year_start  TOTMENROL  TOTFENROL  TOTAL   diff  abs_diff
456665  320006000795        2017          1          3   5645  -5641      5641
338892  320006000795        2018          1          1   5108  -5106      5106
57450   320006000795        2022          0          0   4559  -4559      4559
16115   110003000264        2022        190        261    740   -289       289
358347   40021702010        2017          0          0    242   -242       242
104554  530969002244        2022         20         21    278   -237       237
372935  110003000207        2017        150        121    495   -224       224
254741  110003000264        2018        172        254    648   -222       222
254859  110003000207        2018        153        169    524   -202       202
372812  110003000264        2017        171        160    515   -184       184
101693  530031303403        2022         73         71    326   -182       182
16114   110003000207        2022        161        126    442   -155       155
393238  250597000854        2017          0          0    108   -108       108
469699  320036000862        2017          2          2    105   -101       101

## Grade Totals

    Sum of grade_cols  TOTAL

In [37]:
# grade totals vs total enrollment
grade_cols = [
    'PK','KG','G01','G02','G03','G04','G05',
    'G06','G07','G08','G09','G10','G11','G12','G13',
    'UG','AE'
]

(main_df[grade_cols].sum(axis=1) - main_df['TOTAL']).describe()

count    495931.0
mean    -0.006912
std      2.430306
min       -1263.0
25%           0.0
50%           0.0
75%           0.0
max           0.0
dtype: Float64

In [38]:
# how many are zero and below zero
(main_df[grade_cols].sum(axis=1) - main_df['TOTAL']).value_counts().head(20)

0        495884
-1           33
-2            5
-6            2
-3            2
-377          1
-220          1
-691          1
-816          1
-1263         1
Name: count, dtype: Int64

In [39]:
# how many rows are below zero
diff = main_df[grade_cols].sum(axis=1) - main_df['TOTAL']
(diff != 0).sum()

np.int64(47)

In [40]:
# check percentage of how many rows are below zero
(diff != 0).mean()

np.float64(9.477124841963902e-05)

In [41]:
# storing: how many are zero and below zero
main_df['grade_total_diff'] = (
    main_df[grade_cols].sum(axis=1) - main_df['TOTAL']
)

In [42]:
# create a df of rows that grade totals do not match total enrollment
problem_rows = main_df[main_df['grade_total_diff'] != 0]
problem_rows.shape

(47, 83)

In [43]:
# sort mismatched rows by severity
problem_rows.sort_values('grade_total_diff').head(10)

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LSTREET3,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,MAGNET_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTFENROL,TOTMENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD,year_start,grade_total_diff
491283,-113.070000,37.662995,90785,490039000872,2020-2021,UT,4900390,UT-13,Iron District,Southwest Educational Academy,510 W 800 S,<NA>,<NA>,CEDAR CITY,UT,84720,,(435)586-2870,No,M,M,<NA>,12,Other,M,M,1,Alternative Education School,Currently operational,33-Town: Remote,Iron County,340,315,25,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,86,73,71,83,<NA>,<NA>,<NA>,<NA>,<NA>,1576,1576,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,37.6630,-113.0700,2020,-1263
491258,-111.828960,40.667877,90718,490036000249,2020-2021,UT,4900360,UT-12,Granite District,Olympus Jr High,2217 E 4800 S,<NA>,<NA>,SALT LAKE CITY,UT,84117,,(385)646-5224,No,M,M,7,9,Middle,M,M,1,Regular school,Currently operational,21-Suburb: Large,Salt Lake County,111,103,8,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,816,816,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,40.6679,-111.8290,2020,-816
498766,-111.833520,40.697572,90695,490036000216,2020-2021,UT,4900360,UT-12,Granite District,Evergreen Jr High,3401 S 2000 E,<NA>,<NA>,SALT LAKE CITY,UT,84109,,(385)646-5164,No,M,M,7,9,Middle,M,M,1,Regular school,Currently operational,21-Suburb: Large,Salt Lake County,244,204,40,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,691,691,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,40.6976,-111.8335,2020,-691
135693,-85.507100,30.972500,21484,120096001078,2020-2021,FL,1200960,FL-32,JACKSON,GRACEVILLE SCHOOL,5539 BROWN ST,<NA>,<NA>,GRACEVILLE,FL,32440,1009,(850)263-4451,No,No,Not Virtual,<NA>,12,Other,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Jackson County,332,325,7,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,41,26,33,44,<NA>,<NA>,<NA>,<NA>,<NA>,521,521,35.669998,14.61,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,30.9725,-85.5071,2020,-377
490536,-100.718520,31.667910,89846,484471005090,2020-2021,TX,4844710,TX-226905,WATER VALLEY ISD,WATER VALLEY SCHOOL,17886 WILDCAT DR,<NA>,<NA>,WATER VALLEY,TX,76958,9998,(325)484-2478,No,No,M,<NA>,12,Other,1-Yes,1-Yes,1,Regular school,Currently operational,42-Rural: Distant,Tom Green County,141,104,37,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,19,22,29,12,<NA>,<NA>,<NA>,<NA>,<NA>,302,302,31.270000,9.66,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,31.6679,-100.7185,2020,-220
451071,-87.811724,42.699831,83670,551236001633,2017-2018,WI,5512360,WI-4620,Racine Unified School District,Mitchell Middle,2701 Drexel Ave,<NA>,<NA>,Racine,WI,53403,2998,(262)664-6400,No,No,Not a virtual school,6,8,Middle,<NA>,Yes,1,Regular school,Currently operational,13-City: Small,Racine County,387,349,38,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,181,200,195,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,290,286,582,582,52.470001,11.09,1,<NA>,1,2,<NA>,2,91,87,178,<NA>,<NA>,<NA>,98,105,203,15,13,28,79,85,164,42.6998,-87.8117,2017,-6
331938,-89.074097,43.163330,81546,550879001012,2018-2019,WI,5508790,WI-3332,Marshall School District,Marshall Elementary,617 Madison St,<NA>,<NA>,Marshall,WI,53559,9273,(608)655-4403,No,No,Supplemental Virtual,3,6,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,31-Town: Fringe,Dane County,117,100,17,<NA>,<NA>,<NA>,<NA>,<NA>,59,70,76,74,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,141,138,285,285,23.230000,12.30,2,3,5,2,1,3,8,4,12,<NA>,<NA>,<NA>,32,28,60,7,8,15,90,94,184,43.1633,-89.0742,2018,-6
451078,-87.812681,42.746354,83677,551236001642,2017-2018,WI,5512360,WI-4620,Racine Unified School District,Wadewitz Elementary,2700 Yout St,<NA>,<NA>,Racine,WI,53404,2296,(262)664-6000,No,No,Not a virtual school,<NA>,5,Elementary,<NA>,Yes,1,Regular school,Currently operational,13-City: Small,Racine County,452,407,45,<NA>,45,88,79,91,87,98,107,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,287,308,598,598,48.799999,12.25,2,1,3,<NA>,<NA>,<NA>,80,84,164,2,<NA>,2,128,126,254,30,19,49,66,57,123,42.7464,-87.8127,2017,-3
451058,-87.808489,42.741377,83657,551236001616,2017-2018,WI,5512360,WI-4620,Racine Unified School District,Gilmore Middle,2330 Northwestern Ave,<NA>,<NA>,Racine,WI,53404,2521,(262)619-4260,No,No,Not a virtual school,6,8,Middle,<NA>,Yes,1,Regular school,Currently operational,13-City: Small,Racine County,410,382,28,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,162,177,173,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,252,260,515,515,45.599998,11.29,2,1,3,1,<NA>,1,93,82,175,<NA>,<NA>,<NA>,107,105,212,16,11,27,41,53,94,42.7414,-87.8085,2017,-3
107030,-87.914700,43.024100,98891,550960001218,2022-2023,WI,5509600,WI-3619,Milwaukee School District,Bradley Technology High,700 S Fourth St,<NA>,<NA>,Milwaukee,WI,53204,1760,(414)212-2400,No,<NA>,Supplemental Virtual,9,12,High,<NA>,<NA>,1,Regular School,Currently operational,11-City: Large,Milwaukee County,820,820,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,330,269,173,177,<NA>,<NA>,<NA>,580,369,951,951,55.099998,17.26,5,0,5,26,17,43,399,276,675,1,0,1,104,56,160,21,12,33,24,8,32,43.0241,-87.9147,2022,-2

In [44]:
# view the most severe mismatch
problem_rows.sort_values('grade_total_diff').iloc[0]

X                        -113.07
Y                      37.662995
OBJECTID                   90785
NCESSCH             490039000872
SURVYEAR               2020-2021
                        ...
WH                          <NA>
LATCOD                    37.663
LONCOD                   -113.07
year_start                  2020
grade_total_diff           -1263
Name: 491283, Length: 83, dtype: object

In [45]:
# view the most severe mismatch
problem_rows.sort_values('grade_total_diff').iloc[0][
    ['TOTAL'] + grade_cols
]

TOTAL    1576
PK       <NA>
KG       <NA>
G01      <NA>
G02      <NA>
G03      <NA>
G04      <NA>
G05      <NA>
G06      <NA>
G07      <NA>
G08      <NA>
G09        86
G10        73
G11        71
G12        83
G13      <NA>
UG       <NA>
AE       <NA>
Name: 491283, dtype: object

## Race totals

    Male + Female = Race total

    Sum of race totals  TOTAL

## Adding what Caleb had

Operational Filtering - Only keep schools operational in all years

In [46]:
def mark_always_operational(df):
    total_years = df["SURVYEAR"].nunique()
    
    operational_counts = (
        df[df["SY_STATUS_TEXT"] == "Currently operational"]
        .groupby("NCESSCH")["SURVYEAR"]
        .nunique()
    )
    always_operational = operational_counts[
        operational_counts == total_years
    ].index
    df["concurrently_operational"] = df["NCESSCH"].isin(always_operational)
    return df

In [47]:
main_df = mark_always_operational(main_df)

main_df = main_df[main_df["concurrently_operational"]]

Remove Charter & Magnet Schools

In [48]:
main_df = main_df[
    main_df["CHARTER_TEXT"].isin(["No", np.nan])
]

main_df = main_df[
    main_df["MAGNET_TEXT"].isin(["No", np.nan])
]

In [49]:
main_df.drop(columns=["CHARTER_TEXT", "MAGNET_TEXT"], inplace=True)

Drop Redundant Columns

In [50]:
redundant_cols = [
    "X", "Y", "OBJECTID", "ST_LEAID",
    "LEA_NAME", "LSTREET1", "LSTREET2", "LSTREET3",
    "LZIP4", "PHONE",
    "AMALM","AMALF","ASALM","ASALF",
    "BLALM","BLALF","HPALM","HPALF",
    "HIALM","HIALF","TRALM","TRALF",
    "WHALM","WHALF"
]

main_df.drop(columns=redundant_cols, inplace=True)

## Sanity Check

In [51]:
print("Final Shape:", main_df.shape)

Final Shape: (324375, 58)

In [52]:
main_df.info()

<class 'pandas.DataFrame'>
Index: 324375 entries, 355536 to 15714
Data columns (total 58 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   NCESSCH                   324375 non-null  string
 1   SURVYEAR                  324375 non-null  string
 2   STABR                     324375 non-null  string
 3   LEAID                     324375 non-null  string
 4   SCH_NAME                  324375 non-null  string
 5   LCITY                     324375 non-null  string
 6   LSTATE                    324375 non-null  string
 7   LZIP                      324375 non-null  string
 8   VIRTUAL                   324375 non-null  string
 9   GSLO                      142069 non-null  Int64
 10  GSHI                      316442 non-null  Int64
 11  SCHOOL_LEVEL              324375 non-null  string
 12  TITLEI                    175194 non-null  string
 13  STITLEI                   240480 non-null  string
 14  STATUS                    324375 non-null  string
 15  SCHOOL_TYPE_TEXT          324375 non-null  string
 16  SY_STATUS_TEXT            324375 non-null  string
 17  ULOCALE                   324375 non-null  string
 18  NMCNTY                    324375 non-null  string
 19  TOTFRL                    287006 non-null  Int64
 20  FRELCH                    281068 non-null  Int64
 21  REDLCH                    278460 non-null  Int64
 22  DIRECTCERT                63462 non-null   Int64
 23  PK                        121588 non-null  Int64
 24  KG                        181426 non-null  Int64
 25  G01                       182975 non-null  Int64
 26  G02                       183204 non-null  Int64
 27  G03                       183223 non-null  Int64
 28  G04                       182529 non-null  Int64
 29  G05                       177258 non-null  Int64
 30  G06                       118652 non-null  Int64
 31  G07                       103644 non-null  Int64
 32  G08                       104897 non-null  Int64
 33  G09                       92998 non-null   Int64
 34  G10                       92471 non-null   Int64
 35  G11                       92713 non-null   Int64
 36  G12                       92697 non-null   Int64
 37  G13                       545 non-null     Int64
 38  UG                        30587 non-null   Int64
 39  AE                        361 non-null     Int64
 40  TOTFENROL                 212794 non-null  Int64
 41  TOTMENROL                 212798 non-null  Int64
 42  TOTAL                     322467 non-null  Int64
 43  MEMBER                    322467 non-null  Int64
 44  FTE                       317008 non-null  float64
 45  STUTERATIO                312780 non-null  float64
 46  AM                        275054 non-null  Int64
 47  AS                        297896 non-null  Int64
 48  BL                        308313 non-null  Int64
 49  HP                        249095 non-null  Int64
 50  HI                        318653 non-null  Int64
 51  TR                        312831 non-null  Int64
 52  WH                        319743 non-null  Int64
 53  LATCOD                    324375 non-null  float64
 54  LONCOD                    324375 non-null  float64
 55  year_start                324375 non-null  int64
 56  grade_total_diff          322467 non-null  Int64
 57  concurrently_operational  324375 non-null  bool
dtypes: Int64(35), bool(1), float64(4), int64(1), string(17)
memory usage: 154.7 MB

In [53]:
main_df.head(10)

,NCESSCH,SURVYEAR,STABR,LEAID,SCH_NAME,LCITY,LSTATE,LZIP,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTFENROL,TOTMENROL,TOTAL,MEMBER,FTE,STUTERATIO,AM,AS,BL,HP,HI,TR,WH,LATCOD,LONCOD,year_start,grade_total_diff,concurrently_operational
355536,10000500870,2017-2018,AL,100005,Albertville Middle School,Albertville,AL,35950,Not a virtual school,7,8,Middle,<NA>,Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,570,518,52,<NA>,0,0,0,0,0,0,0,0,411,396,0,0,0,0,<NA>,<NA>,<NA>,403,404,807,807,36.000000,22.42,0,5,32,1,368,18,383,34.2602,-86.2062,2017,0,True
237851,10000500870,2018-2019,AL,100005,Albertville Middle School,Albertville,AL,35950,Not Virtual,7,8,Middle,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,574,522,52,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,411,403,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,423,391,814,814,38.000000,21.40,0,3,32,0,402,18,359,34.2602,-86.2062,2018,0,True
501597,10000500870,2020-2021,AL,100005,Albertville Middle School,Albertville,AL,35950,Not Virtual,7,8,Middle,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,332,332,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,469,439,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,908,908,42.000000,21.62,2,4,33,0,469,29,371,34.2602,-86.2062,2020,0,True
116777,10000500870,2021-2022,AL,100005,Albertville Middle School,Albertville,AL,35950,Not Virtual,7,8,Middle,3-Title I schoolwide eligible-Title I targeted...,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,400,380,20,311,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,451,469,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,920,920,32.500000,28.31,4,5,36,1,486,35,353,34.2602,-86.2062,2021,0,True
109902,10000500870,2022-2023,AL,100005,Albertville Middle School,Albertville,AL,35950,Not Virtual,7,8,Middle,<NA>,<NA>,1,Regular School,Currently operational,32-Town: Distant,Marshall County,697,654,43,587,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,440,450,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,459,431,890,890,45.000000,19.78,5,6,29,1,502,32,315,34.2602,-86.2062,2022,0,True
355537,10000500871,2017-2018,AL,100005,Albertville High School,Albertville,AL,35950,Not a virtual school,9,12,High,<NA>,Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,832,766,66,<NA>,0,0,0,0,0,0,0,0,0,0,408,351,364,313,<NA>,<NA>,<NA>,706,730,1436,1436,77.000000,18.65,4,8,53,0,614,41,716,34.2622,-86.2049,2017,0,True
237852,10000500871,2018-2019,AL,100005,Albertville High School,Albertville,AL,35950,Not Virtual,9,12,High,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,861,792,69,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,417,376,338,354,<NA>,<NA>,<NA>,755,730,1485,1485,78.000000,19.00,3,8,58,2,646,36,732,34.2622,-86.2049,2018,0,True
501598,10000500871,2020-2021,AL,100005,Albertville High School,Albertville,AL,35950,Not Virtual,9,12,High,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,456,456,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,421,427,384,374,<NA>,<NA>,<NA>,<NA>,<NA>,1606,1606,82.000000,19.59,1,6,70,0,785,38,706,34.2622,-86.2049,2020,0,True
116778,10000500871,2021-2022,AL,100005,Albertville High School,Albertville,AL,35950,Not Virtual,9,12,High,3-Title I schoolwide eligible-Title I targeted...,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,578,532,46,439,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,480,408,403,374,<NA>,<NA>,<NA>,<NA>,<NA>,1665,1665,82.000000,20.30,2,6,59,0,883,35,680,34.2622,-86.2049,2021,0,True
109903,10000500871,2022-2023,AL,100005,Albertville High School,Albertville,AL,35950,Not Virtual,9,12,High,<NA>,<NA>,1,Regular School,Currently operational,32-Town: Distant,Marshall County,1254,1178,76,1059,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,493,442,390,387,<NA>,<NA>,<NA>,868,844,1712,1712,85.199997,20.09,2,9,57,0,958,45,641,34.2622,-86.2049,2022,0,True

In [54]:
main_df[['TOTAL','TOTMENROL','TOTFENROL']].describe()

            TOTAL   TOTMENROL   TOTFENROL
count    322467.0    212798.0    212794.0
mean   531.235441  266.827686  272.789336
std    445.917769   223.77129  227.570756
min           0.0         0.0         0.0
25%         273.0       136.0       140.0
50%         445.0       224.0       229.0
75%         658.0       332.0       338.0
max        9216.0      3478.0      3562.0

In [55]:
main_df['TOTAL'].describe()

count      322467.0
mean     531.235441
std      445.917769
min             0.0
25%           273.0
50%           445.0
75%           658.0
max          9216.0
Name: TOTAL, dtype: Float64